
/* 引入阿里的矢量库 */
/* @import 'http://at.alicdn.com/t/c/font_3916744_uslpzv0zrub.css'; */
@import url('../font/font.css');
@import url('./element.css');
@import url('./global.css');
html,
body {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 设置滚动的形式 */

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

.el-drawer.ltr,
.el-drawer.rtl,
.el-drawer__container {
  height: calc(100vh - 55px) !important;
}